body{
    width: 100%;
    text-align: center;
    background-size: 100%;
}

.container {
 
    margin-left: 25%;
    margin-right: 25%;
}

img {
    position: relative;
    height: 250px;
    width: 300px;
}

#startBtn {
font-size: 50px;
margin-top: 5%;
margin-bottom: 5%;
font-family: 'Bangers', cursive;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h1{
    font-family: 'Bangers', cursive;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #00ccb2;
}
p{
    padding-bottom: 10px;
    font-size: 18px;
}

#game-play {
    background-color: #bac7e3;
    opacity: 80%;
}

#timer {
    font-size: 20px;
    border-bottom: 2px solid #8c4080;
    padding: 2px;
    font-family: 'Bangers', cursive;
    
}
#currentQuestion {
    font-size: 20px;
    border-bottom: 2px solid #8c4080;
}
.question {
    padding-top: 5%;
    font-size: 25px;
    border-bottom: 2px solid #8c4080;
    font-family: 'Bangers', cursive;
}
.answerList{
    font-size: 30px;
    border-bottom: 2px solid #8c4080;
    font-family: 'Bangers', cursive;
}

#correctedAnswer {
    font-size: 20px;
    background-color: #00ccb2;
    font-family: 'Bangers', cursive;
}
#message {
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

#finalMessage {
    font-size: 30px;
    font-family: 'Bangers', cursive;
    margin-bottom: 10px;
}
#correctAnswers {
    font-size: 20px;
}
#wrongAnswers{
    font-size: 20px;
}
#unanswered {
    font-size: 20px;
}

#startAgainBtn {
    font-size: 40px;
    border: solid 5px #00ccb2;
    background-color: #639cff;
    font-family: 'Bangers', cursive;
    margin-top: 10px;
}

@media screen and (max-width:640px){
	.container{
		width: 80%;
		size: 200%;
    }}
    
.thisChoice:hover{
    background-color: #00ccb2;
    color: #470f85;
    padding: 5px;
}

